.container {
  font-family: arial;
  color: grey;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .main-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .all-images {
    border-bottom: 1px dotted #000;
    width: 50%;
    height: 50%;
    object-fit: cover;
  }

  @media screen and (min-width: 540px) {
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
  }
}

.header-container {
  font-family: arial;
  color: grey;
  display: flex;
  flex-direction: row;
  padding: 1rem;

  #title {
    font-size: 4rem;
    border-top: 1px dotted #000;
    border-right: 1px dotted #000;
    padding: 3rem;
  }

  #welcome {
    border-top: 1px dotted #000;
    padding: 3rem;
  }

  @media screen and (min-width: 540px) {
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
  }
}

