<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Express Gallery</title>
  <link rel="stylesheet" href="/css/app.css" type="text/css">
</head>
<body>
  {{{body}}}
</body>
</html>