<div class ="gallery">
  {{> login}}
  {{#each photos}}
      <div class="photos">
        <img class="all-images" id="{{id}}" src="{{link}}">
        <div class="author">Author: {{author}}</div>
        <div class="description">Description: {{description}}</div>
      </div>
  {{/each}}
</div>

