  <h1>Add New Photo</h1>

  <form action="/gallery" method="post">
    title:<br>
    <input type="text" id="title" name="title" placeholder="title"><br>

    author:<br>
    <input type="text" id="author" name="author" placeholder="author"><br>

    link:<br>
    <input type="text" id="link" name="link" placeholder="link"><br>

    description:<br>
    <input type="text" name="description" placeholder="description"><br><br>
    <input type="submit" value="Submit">
  </form>